.container {
  /* max-width: 335px; */
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}

header {
  padding: 27px 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.header-container {
  display: flex;
  align-items: center;
}
/* 
.nav,
.contacts {
  display: none;
} */

@media screen and (min-width: 1199px) {

  .footer-tab-wrap{
    gap: 160px;
  }

  .footer-links-blok{
    border: none;
  }

  .footer-agree{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

   
.agree-list-link {
  text-decoration: underline;
  color: rgba(171, 171, 171, 1);
  font-family: IBM Plex Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  text-align: right;
  display: block;
}


  footer{
    padding: 30px 40px;
  }

  .footer-container{
    display: flex;
    justify-content:space-between;
  }

  .course-programs{
    padding: 56px 40px;
  }
  .course-program-title-tab {
    font-family: IBM Plex Mono;
    font-size: 32px;
    font-weight: 600;
    line-height: 42px;
    
  }

  .course-programs-container {
    display: flex;
    justify-content: space-between;
  }

  .programs-right {
    margin-top: 120px;
  }

  .programs {
    position: relative;
  }
  .programs-title {
    position: absolute;
    top: 80px;
    right: 160px;
  }
  .programs-left {
    padding: 40px 32px;
    /* margin-bottom: 518px; */
  }

  .programs-container {
    display: flex;
    gap: 24px;
  }
  .hero-bottom {
    position: relative;
    bottom: 220px;
    padding-bottom: 80px;
    padding-top: 80px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .hero-top {
    background-image: url('./hero-desk.png');
    padding-top: 300px;
    padding-bottom: 1000px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .third-hero {
    height: 110px;
    background-image: url('./hero-desk-origin.png');
    /* padding-bottom: 100px; */
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    bottom: 220px;
  }
  .contacts {
    display: block;
    margin-left: auto;
  }
  .mob-menu-btn {
    display: none;
  }

  .hero-bottom {
    display: flex;
    gap: 54px;
  }

  .hero-info {
    font-family: IBM Plex Mono;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
  }

  .hero-requirements {
    font-family: IBM Plex Mono;
    font-size: 22px;
    font-weight: 600;
    line-height: 29px;
  }

  .info-container {
    border-top: none;
  }

  .graduates-box {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .nav-list {
    display: flex;
    gap: 24px;
  }

  .hero-left {
    max-width: 577px;
    display: flex;
    flex-direction: column;
  }

  .hero-second-text {
    font-family: IBM Plex Mono;
    font-size: 24px;
    font-weight: 600;
    line-height: 34px;

    color: rgba(255, 255, 255, 1);
  }

  .hero-third-text {
    font-family: IBM Plex Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
  }

  .form {
    width: 550px;
  }

  .nav-list-link {
    font-family: IBM Plex Mono;
    font-size: 17px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0.01em;

    color: rgba(153, 153, 153, 1);
  }

  .header-container {
    gap: 66px;
  }

  .contacts-link {
    font-family: IBM Plex Mono;
    font-size: 20px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.01em;
  }

  .hero-title {
    font-family: IBM Plex Mono;
    font-size: 48px;
    font-weight: 500;
    line-height: 56px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(71, 71, 71, 1);
    margin-bottom: 12px;
  }

  .hero-text {
    font-family: IBM Plex Mono;
    font-size: 146px;
    font-weight: 700;
    line-height: 190px;
    text-align: center;
    background-image: linear-gradient(to right, rgba(235, 163, 113, 1), rgba(103, 33, 164, 1));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }

  .hero {
    padding-top: 40px;
  }
}

@media screen and (min-width: 767px) and (max-width: 1199px) {
  .mob-menu-btn {
    display: block;
    margin-left: auto;
  }

  .nav {
    display: none;
  }
  .contacts {
    display: block;
  }
  .header-container {
    display: flex;
    justify-content: center;
    gap: 97px;
  }

  .contacts-link {
    font-family: IBM Plex Mono;
    font-size: 20px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.01em;
    color: rgba(101, 60, 217, 1);
  }
}

@media screen and (min-width: 767px) and (max-width: 1199px) {
  .container {
    max-width: 704px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1199px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
}

button {
  background: transparent;
  border: none;
}

/* Hero */

@media screen and (max-width: 767px) {
  .nav,
  .contacts {
    display: none;
  }
  .mob-menu-btn {
    display: block;
    margin-left: auto;
  }
  .hero-first {
    padding-top: 24px;
    padding-bottom: 49px;
    background-image: linear-gradient(to right, rgba(235, 230, 250, 1), rgba(250, 238, 230, 1));
  }
}

@media screen and (max-width: 767px) {
  .hero-top {
    background-image: url('./hero-top.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    padding-top: 250px;
    padding-bottom: 200px;
  }
}

.info-container {
  display: flex;
  gap: 76px;
  padding-top: 40px;
  margin-top: 40px;
}

@media screen and (min-width: 767px) and (max-width: 1199px) {
  .hero {
    padding-top: 40px;
  }

  .info-container {
    border-top: 1px solid rgba(204, 104, 33, 1);
  }

  .hero-bottom {
    padding-right: 32px;
    padding-left: 32px;
    padding-bottom: 80px;
    padding-top: 49px;
  }

  .third-hero {
    background-image: url('./top-mask-tab.png');
    background-repeat: no-repeat;
    padding: 50px 0;
  }

  .hero-title {
    font-family: IBM Plex Mono;
    font-size: 40px;
    font-weight: 500;
    line-height: 48px;
    text-align: center;
    color: rgba(71, 71, 71, 1);
    max-width: 704px;
    margin: 0 auto;
  }

  .hero-text {
    font-family: IBM Plex Mono;
    font-size: 112px;
    font-weight: 700;
    line-height: 146px;
    text-align: center;
    background-image: linear-gradient(to right, rgba(235, 163, 113, 1), rgba(103, 33, 164, 1));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  .hero-top {
    background-image: url('./hero-tablet.png');
    padding: 570px 0;
  }

  .hero-second-text {
    font-family: IBM Plex Mono;
    font-size: 24px;
    font-weight: 600;
    line-height: 34px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
  }
}

@media screen and (max-width: 767px) {
  .hero-second-text {
    margin-bottom: 20px;
    font-family: IBM Plex Mono;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    color: rgba(255, 255, 255, 1);
  }

  .hero-third-text {
    font-family: IBM Plex Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(250, 250, 250, 1);
    margin-top: 20px;
  }
}

@media screen and (min-width: 767px) {
  .program-short-text {
    font-family: IBM Plex Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    color: rgba(71, 71, 71, 1);
    margin-bottom: 20px;
  }

  .tool-description {
    margin-top: 4px;
  }

  .hero-third-text {
    font-family: IBM Plex Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    color: rgba(250, 250, 250, 1);
    margin-top: 20px;
  }

  /* 
  .info-container {
    display: flex;
    gap: 76px;
    padding-top: 40px;
    margin-top: 40px;
    border-top: 1px solid rgba(204, 104, 33, 1);
  } */

  .info-container-subwrap {
    margin-bottom: 48px;
  }

  .hero-info {
    margin-bottom: 12px;
    font-family: IBM Plex Mono;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(250, 250, 250, 1);
  }

  .hero-requirements {
    font-family: IBM Plex Mono;
    font-size: 24px;
    font-weight: 600;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
  }

  .hero-bottom {
    background-image: url('./bottom-mask-tab-hero.png');
  }

  .form {
    margin-top: 68px;
  }

  .form-input {
    width: 100%;
    height: 56px;
    border-radius: 140px;
    border: none;
    padding: 12px 24px;
    margin-bottom: 32px;
  }
  .form-close-sign {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .hero-bottom {
    background-image: url('./hero-bottom.png');
    background-position: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 80px;
    background-size: cover;
  }
  .hero-title {
    font-family: 'IBM Plex Mono';
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
  }

  .hero-text {
    font-family: IBM Plex Mono;
    font-size: 52px;
    font-weight: 700;
    line-height: 68px;
    letter-spacing: 0em;
    text-align: center;
    background-image: linear-gradient(to right, rgba(235, 163, 113, 1), rgba(103, 33, 164, 1));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  .hero-second-text {
    font-family: IBM Plex Mono;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
  }
  .hero-third-text {
    font-family: IBM Plex Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(250, 250, 250, 1);
  }

  .hero-info {
    font-family: IBM Plex Mono;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(250, 250, 250, 1);
    max-width: 156px;
  }
  .hero-requirements {
    font-family: IBM Plex Mono;
    font-size: 18px;
    font-weight: 600;
    line-height: 23px;
    color: rgba(250, 250, 250, 1);
    max-width: 156px;
    margin-top: 8px;
  }

  .info-container {
    display: flex;
    gap: 24px;
    margin-top: 64px;
    padding-top: 32px;
    border-top: 1px solid rgba(204, 104, 33, 1);
  }

  .graduates-box {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 8px;
  }

  .form {
    margin-top: 50px;
  }

  .form-input {
    width: 100%;
    height: 48px;
    border-radius: 140px;
    margin-bottom: 24px;
    padding: 8px 24px;
    border: 1px solid rgba(237, 237, 237, 1);
  }
}

.second {
  padding-left: 78px;
}

.form-span {
  position: relative;
  display: flex;
  align-items: center;
}

.form-span:nth-child(2)::before {
  content: '';
  background-image: url('./ukr.png');
  width: 24px;
  height: 24px;
  position: absolute;
  left: 16px;
  top: 12px;
}

.down {
  top: 15px;
  left: 52px;
  position: absolute;
}

.form-close-sign {
  position: absolute;
  top: 15px;
  right: 20px;
}

.hero-btn {
  width: 100%;
  height: 48px;
  border-radius: 104px;
  padding: 8px 24px;
  background-color: rgba(83, 49, 178, 1);
  color: rgba(255, 255, 255, 1);
  font-family: IBM Plex Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

/* Programs-section */

.programs {
  padding: 80px 0;
}

@media screen and (min-width: 767px) {
  .course-programs-title {
    display: none;
  }

  .programs-list-item {
    padding-top: 57px;
    padding-bottom: 49px;
    padding-right: 68px;
    padding-left: 120px;
  }

  .watch-program-wrap {
    display: flex;
    justify-content: space-between;
  }

  .course-program-title-tab {
    display: block;
    font-family: IBM Plex Mono;
    font-size: 32px;
    font-weight: 600;
    line-height: 42px;
    text-transform: uppercase;
    margin-bottom: 32px;
    color: rgba(26, 26, 26, 1);
  }

  .tool-desc {
    margin-top: 4px;
  }

  .tool-wrap {
    display: flex;
    gap: 12px;
    align-items: center;
  }

  .tools-list-item {
    margin-bottom: 20px;
    padding-bottom: 16px;
    border-bottom: 1px solid rgba(245, 209, 184, 1);
  }

  .programs-left {
    margin-bottom: 40px;
    padding: 40px 32px;
    background-color: rgba(235, 230, 250, 1);
  }

  .programs-right {
    padding: 40px 32px;
    background-color: rgba(250, 238, 230, 1);
  }
  .tool-description {
    font-family: IBM Plex Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(110, 110, 110, 1);
    max-width: 437px;
  }

  .tool-list-item:not(:last-child) {
    margin-bottom: 20px;
    padding-bottom: 17px;
    border-bottom: 1px solid rgba(194, 176, 245, 1);
  }

  .programs {
    padding: 80px 32px;
  }

  .programs-title {
    font-family: IBM Plex Mono;
    font-size: 32px;
    font-weight: 600;
    line-height: 42px;
    max-width: 480px;
    color: rgba(26, 26, 26, 1);
    margin-bottom: 40px;
  }

  .programs-left {
    max-height: 772px;
    padding-top: 40px;
  }
  .programs-left-title {
    margin-bottom: 24px;
    font-family: IBM Plex Mono;
    font-size: 24px;
    font-weight: 600;
    line-height: 31px;

    color: rgba(26, 26, 26, 1);
    text-transform: uppercase;
  }

  .programs-text {
    margin-top: 40px;
    font-family: IBM Plex Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 40px;
    color: rgba(71, 71, 71, 1);
  }

  .programs-left-desc {
    font-family: IBM Plex Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    max-width: 640px;
    color: rgba(71, 71, 71, 1);
    margin-bottom: 20px;
  }

  .course-programs-list {
    background-color: rgba(255, 255, 255, 1);
    width: 100%;
    height: 68px;
    display: flex;
    border-radius: 144px;
    margin-bottom: 48px;
  }

  .active-btn {
    width: 352px;
    border-radius: 144px;
    height: 68px;
    background-color: rgba(83, 49, 178, 1);
    color: rgba(255, 255, 255, 1);
  }

  .unactive-btn {
    width: 352px;
    border-radius: 144px;
    height: 68px;

    color: rgba(153, 153, 153, 1);
  }

  .course-programs {
    padding: 80px 32px;
    background-image: url('./cours.png');
    background-color: rgba(245, 209, 184, 1);
  }
}

@media screen and (max-width: 767px) {
  .course-program-title-tab {
    display: none;
  }
  .programs-title {
    font-family: IBM Plex Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    color: rgba(26, 26, 26, 1);
    text-transform: uppercase;

    margin: auto;
    margin-bottom: 32px;
    max-width: 300px;
  }

  .programs-left {
    padding-top: 24px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgba(235, 230, 250, 1);
    margin-bottom: 40px;
  }

  .programs-left-title {
    font-family: IBM Plex Mono;
    font-size: 18px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0em;
    margin-bottom: 24px;

    color: rgba(26, 26, 26, 1);
    text-transform: uppercase;
  }
  .programs-left-text {
    margin-top: 24px;
    margin-bottom: 32px;
    color: rgba(71, 71, 71, 1);
    font-family: IBM Plex Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }

  .programs-left-desc {
    font-family: IBM Plex Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(71, 71, 71, 1);
    margin-bottom: 20px;
  }

  .tool-description {
    font-family: IBM Plex Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(110, 110, 110, 1);
    border-bottom: 1px solid rgba(194, 176, 245, 1);
    padding-bottom: 16px;
    margin-top: 4px;
  }

  .tool-list-item {
    margin-bottom: 20px;
  }

  .programs-right {
    padding: 24px 20px;
    background-color: rgba(250, 238, 230, 1);
  }

  .tool-wrap {
    display: flex;
    gap: 12px;
    align-items: center;
    margin-bottom: 4px;
  }

  .tools-list-item {
    padding-bottom: 16px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(245, 209, 184, 1);
  }

  /* footer */

  /* course-programs */

  .tool-desc {
    font-family: IBM Plex Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(110, 110, 110, 1);
  }

  .tool-name {
    font-family: IBM Plex Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(71, 71, 71, 1);
  }

  .course-programs {
    background-image: url('./cours.png');
    background-color: rgba(245, 209, 184, 1);
    padding: 80px 20px;
  }

  .program-short-text {
    font-family: IBM Plex Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(71, 71, 71, 1);
    margin-top: 32px;
    margin-bottom: 20px;
  }
  .program-desc {
    font-family: IBM Plex Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(71, 71, 71, 1);
  }

  /* Course-programs */

  .course-programs-title {
    font-family: IBM Plex Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    text-transform: uppercase;

    color: rgba(26, 26, 26, 1);
  }

  .course-programs-list {
    margin-top: 16px;
    display: flex;
    border-radius: 144px;
    font-family: IBM Plex Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    width: 100%;
    height: 40px;
    border-radius: 144px;
    margin-bottom: 32px;
    background-color: rgba(255, 255, 255, 1);
  }
  .active-btn {
    width: 167px;
    border-radius: 144px;
    height: 40px;
    background-color: rgba(83, 49, 178, 1);
    color: rgba(255, 255, 255, 1);
  }

  .unactive-btn {
    width: 167px;
    height: 40px;
    color: rgba(153, 153, 153, 1);
  }
}

button {
  background: transparent;
  border: none;
}

video {
  width: 100%;
}

.video-container {
  width: 100%;
  background-color: #000;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  margin-bottom: 20px;
}

.video-container::before {
  content: 'Презентация курсу Web design';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;
  width: 198px;
  margin: 0 auto;
  font-family: IBM Plex Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;

  color: rgba(255, 255, 255, 1);
  pointer-events: none;
}

.programs-list-item {
  width: 100%;
  height: 84px;
  border-radius: 16px;
  padding-top: 24px;
  padding-bottom: 16px;
  padding-right: 12px;
  padding-left: 55px;
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 1);
}

@media screen and (min-width: 768px) {
  .programs-list-item {
    margin-bottom: 24px;
    padding-top: 67px;
    padding-bottom: 49px;
    padding-right: 68px;
    padding-left: 120px;
    height: 198px;
  }
}

.lessons-amount {
  width: 68px;
  height: 18px;
  border-radius: 11px;
  border: 1px solid rgba(153, 153, 153, 1);
  font-family: IBM Plex Mono;
  font-size: 8px;
  font-weight: 400;
  line-height: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0em;
  color: rgba(153, 153, 153, 1);
}

@media screen and (min-width: 768px) {
  .lessons-amount {
    font-family: IBM Plex Mono;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    color: rgba(153, 153, 153, 1);
    width: 140px;
    height: 42px;
  }
}

.semestr {
  font-family: IBM Plex Mono;
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(83, 49, 178, 1);
}

@media screen and (min-width: 768px) {
  .semestr {
    font-family: IBM Plex Mono;
    font-size: 32px;
    font-weight: 600;
    line-height: 42px;
    color: rgba(83, 49, 178, 1);
  }
}

.watch-program {
  font-family: IBM Plex Sans;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: rgba(101, 60, 217, 1);
}

@media screen and (min-width: 767px) {
  .watch-program {
    font-family: IBM Plex Sans;
    font-size: 24px;
    font-weight: 400;
    line-height: 31px;
  }
}

.watch-program-box {
  display: flex;
  align-items: center;
  gap: 8px;
}
.watch-program-wrap {
  display: flex;
  gap: 25px;
  align-items: center;
}

/* Footer */

@media screen and (min-width: 767px) {
  .footer-links-blok {
    border: none;
  }

  .footer-tab-wrap {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(63, 63, 63, 1);
  }
}

footer {
  padding: 40px 20px;
  background-color: rgba(26, 26, 26, 1);
}
@media screen and (min-width: 767px) {
  footer {
    padding: 40px 32px;
  }
}

.languages-list {
  display: flex;
  gap: 24px;
  margin-top: 32px;
  margin-bottom: 32px;
}

.languages-list-link {
  font-family: IBM Plex Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 18px;
  color: rgba(171, 171, 171, 1);
}

.social-list {
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 767px) {
  .social-list {
    gap: 16px;
  }
}

.social-list-link {
  width: 40px;
  height: 40px;
}

@media screen and (min-width: 1199px) {
  .footer-links-blok{
    border-bottom: none;
  }

  .footer-tab-wrap{
    border-bottom: none;
  }
}

@media screen and (max-width: 1199px) {
  .footer-links-blok{
 border-bottom: 1px solid rgba(63, 63, 63, 1);
  }
}

.footer-links-blok {
  display: flex;
  gap: 80px;
  margin-top: 32px;
  /* border-bottom: 1px solid rgba(63, 63, 63, 1); */
}

.footer-links-item {
  margin-bottom: 20px;
}

.footer-links-link {
  font-family: IBM Plex Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(255, 255, 255, 1);
}

@media screen and (min-width: 768px) and (max-width:1199px) {
  .footer-links-link {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
  }

   
.agree-list-link {
  text-decoration: underline;
  color: rgba(171, 171, 171, 1);
  font-family: IBM Plex Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
  display: block;
}

  .footer-agree {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .agree-list-link{
    text-align: right;
  }
}

.footer-agree {
  margin-top: 32px;
}

.footer-tel {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  font-family: IBM Plex Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  color: rgba(255, 255, 255, 1);
}

.footer-tel-icon {
  fill: currentColor;
}

.payments-list {
  margin-top: 24px;
  display: flex;
  justify-content: center;
  gap: 16px;
}

.agree-list {
  margin-top: 24px;
}

.agree-list-item {
  margin-bottom: 16px;
}

@media screen and (max-width: 767px) {
  
.agree-list-link {
  text-decoration: underline;
  color: rgba(171, 171, 171, 1);
  font-family: IBM Plex Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
  display: block;
}
}

.programs-list {
  counter-reset: section; /* Initialize the counter */
}

.programs-list-item {
  position: relative; /* Needed for absolute positioning of the pseudo-element */
  /* Other styles for your list item */
}

.programs-list-item::before {
  counter-increment: section; /* Increment the counter */
  content: counter(section); /* Display the counter */
  position: absolute; /* Position the pseudo-element absolutely */
  left: 10px;
  top: 0;
  font-family: IBM Plex Mono;
  font-size: 64px;
  font-weight: 500;
  line-height: 83px;
  color: rgba(101, 60, 217, 1);
}

@media screen and (min-width: 768px) {
  .programs-list-item::before {
    counter-increment: section; /* Increment the counter */
    content: counter(section); /* Display the counter */
    position: absolute;
    left: 40px;
    top: 10px;
    font-family: IBM Plex Mono;
    font-size: 120px;
    font-weight: 500;
    line-height: 156px;
  }
}
